footer {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	word-break: keep-all;
	line-height: 2rem;
	font-weight: 500;
	font-size: 0.955rem;
	margin-top: 3rem;
}

footer a {
	text-decoration: underline;
}

.copyright {
	flex-wrap: wrap;
	margin-bottom: 0;
}

@media screen and (min-width: 425px) {
	.copyright {
		flex-direction: inherit;
	}
}
