footer {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 2rem;
}

.copyright {
	text-align: center;
	font-weight: 500;
	font-size: 0.955rem;
}

footer a {
	color: inherit;
	text-decoration: underline;
	transition: ease-out 0.5ms;
}

footer li {
	list-style-type: none;
}
