footer {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.copyright {
	text-align: center;
	font-weight: 500;
	font-size: 0.955rem;
}

footer a {
	color: inherit;
	text-decoration: underline;
	transition: ease-out 0.5ms;
	/* transition-duration: 0.5s; */
}

footer a:hover {
	transform: scale(1.015rem);
	font-weight: 700;
}

footer li {
	list-style-type: none;
	/* font-size: 2.75rem;
	margin: 0 1rem; */
}
