header {
	width: 100%;
	top: 0;
	position: fixed;
	height: calc(2 + var(--nav-height));
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: transform 0.3s;
}

.hide-header {
	transform: translateY(calc(-2 * var(--nav-height)));
}

header nav ul.nav-items {
	display: flex;
	flex-direction: row;
	gap: 2.5rem;
}

.nav-title {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
	font-size: 0.875rem;
}

/* BURGER MENU VISIBILITY */
.d-sm-block {
	display: block;
}

.d-md-block,
.d-lg-block,
.d-xl-block {
	display: none;
}

@media screen and (min-width: 425px) {
	.d-sm-block {
		display: none;
	}

	.d-md-block {
		display: block;
	}

	.nav-title {
		font-size: inherit;
	}
}

@media screen and (min-width: 768px) {
	.d-lg-block {
		display: block;
	}

	.d-lg-flex {
		display: flex;
	}

	.w-lg-50 {
		width: 50%;
	}
}

@media screen and (min-width: 1024px) {
	.d-xl-block {
		display: block;
	}
}
