* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%; /* 16px */
	height: 100%;
}

body {
	min-height: 100vh;
}

html,
body {
	width: 100%;
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	color: #000000;
	background-image: url("../img/colored-7292420_1920.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	--nav-height: 3rem;
	scroll-behavior: smooth;
}

p,
.p {
	font-size: 1rem;
}

p:not(header p) {
	margin-bottom: 0.75rem;
}

li {
	list-style-type: none;
}

a,
#burgerMenu {
	color: inherit;
	text-decoration: none;
	transition: ease-in-out 0.2s;
}

a:hover,
#burgerMenu:hover,
.nav li a:hover {
	font-weight: 700;
	color: #6551fe;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-weight: 500;
	font-family: "Playfair Display", serif;
}

h1 {
	margin: 0 0 0.75rem;
	font-size: 2.6rem;
}

h2,
.h2 {
	font-size: 2.441rem;
}

h3,
.h3 {
	font-size: 1.853rem;
}

h4,
.h4 {
	font-size: 1.563rem;
}

h5,
.h5 {
	font-size: 1.45rem;
}

small,
.text-small {
	font-size: 0.875rem;
}

.sp-nowrap {
	white-space: nowrap;
}

.bolder {
	font-weight: 600;
}

.d-flex {
	display: flex;
	flex-direction: row;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.p-1plus {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}

.mb-0 {
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 3.2rem;
		letter-spacing: 3px;
	}

	.p-1plus {
		padding: 1.75rem;
	}
}
